<!-- views/pixabay.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixabay Images</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Link to the CSS file -->
    <style>
        /* Additional inline styles */
        body {
            background-color: #f8f8f8;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 100px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }
        form {
            text-align: center;
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input[type="text"] {
            width: calc(100% - 10px);
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        button[type="submit"] {
            padding: 10px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        button[type="submit"]:hover {
            background-color: #0056b3;
        }
        #image-gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .image-item {
            margin: 10px;
            text-align: center;
        }
        .image-item img {
            max-width: 100%;
            border-radius: 5px;
        }
        .image-item p {
            margin-top: 5px;
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Pixabay Images</h1>
        <a href="/main" class="btn">Main</a>
        <form action="/pixabay" method="GET">
            <label for="topic">Enter topic:</label>
            <input type="text" id="topic" name="topic" required>
            <button type="submit">Search</button>
        </form>
        <div id="image-gallery">
            <% images.forEach(image => { %>
                <div class="image-item">
                    <img src="<%= image.webformatURL %>" alt="<%= image.tags %>">
                    <p><%= image.tags %></p>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>
